/* Color de fondo para el menú de navegación */
.topnav {
  background-color: #333;
  overflow: hidden; /*El contenido es recortado y no se muestran barras de posición.*/
}

/* Estilo de los enlaces en el menú de navegación */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Estilo de los enlaces en el menú de navegación al pasar por encima */
.topnav a:hover {
  background-color: #bf59d9;
  text-decoration: none;
  color: #e5a3d7;  
}

/* Oculta el link que se mostrará en las pantallas pequeñas */
.topnav .icon {
  display: none;
}

/* Estilos que van a ir en el body */
body {
  font-family: "Roboto", sans-serif;
  color: #606368;
  background: #f5f5f5;
  font-size: 14px;
  margin-left: 40px;
  margin-right: 40px;    
}

/* Color para los enlaces, quitamos el subrayado */
a {
  color: #bf59d9;
  text-decoration: none;
}

/* Color para los enlaces al pasar sobre ellos, quitamos el subrayado */
a:hover {
  text-decoration: underline;
  color: #e5a3d7; 
}

/* Estilo para la sección del ecabezado, donde va el título y la foto */
.titulo-foto {
	background: #8f1eac;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);	
}

/* Estilo para las imagenes */
img {
	border-color: #8f1eac;
	border-width: medium;
    border-style: solid;
    border-radius: 30%;	
}

/* Estilo para la foto donde va el encabezado, foto del curriculum */
.titulo-foto img{
	float:left; 
	padding:20px;
}

/* Estilo para el nombre que figura en el encabezado */
.nombre {
  font-size: 32px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 200px;
  color: white;
}

/* Estilo para la profesión que figura en el encabezado */
.profesion {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-top: -80px;
  margin-bottom: 0;  
}

/* Estilo para la clase principal contenedora dentro del body */
.main {
	background: #fff;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);  
}

/* Estilo para los títulos dentro de la clase principal */
.main .titulos {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #8f1eac;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Estilo para los iconos dentro de los títulos dentro de la clase principal */
.main .titulos .iconos {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: inline-block;
  color: #fff;
  border-radius: 50%;      
  background: #8f1eac;
  text-align: center;
  font-size: 16px;
  position: relative;  
}

/* Estilo para la clase fas dentro de la clase iconos */
.iconos .fas{
	margin-top: 6px;
}

/* Estilo para la clase seccion dentro de la clase main principal */
.main .seccion {
  padding: 20px 30px 0px 30px;
}

/* Estilo para los subtitulos dentro de la clase main principal */
.main .subtitulo {  
  color: #bf59d9;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  position: relative;
  overflow: hidden;  
}

/* Estilo para los elementos donde irán los textos */
.item {
  margin-bottom: 15px;
}

/* Estilo para el último elemento donde irán los textos, para dejar espacio en la parte inferior */
.item:last-child {
  padding-bottom: 15px;
}

/* Estilo para el área donde irán las imagenes */
.img-area {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/* Estilo para las imagenes que irán en la galería de imagenes */
.img-galeria {
	padding: 0px 10px 20px;
}

/* Imagenes que irán en la galería cuando la pantalla sea mayor de 400 */
.img1{
  content: url("../imagenes/1.png");
}

.img2{
  content: url("../imagenes/2.png");
}

.img3{
  content: url("../imagenes/3.png");
}

.img4{
  content: url("../imagenes/4.png");
}

.img5{
  content: url("../imagenes/5.png");
}

.img6{
  content: url("../imagenes/6.png");
}

/* Efecto cuando pasamos por encima de las imagenes, se vuelve algo opaca en el intervalo marcado */
img:hover{
	opacity: .5;
	transition: .9s;	
}

/* Estilo para los iconos del footer de las redes sociales */
.iconos-footer .fab {
	font-size: 15px;
	margin: 2px;
	margin-bottom: 2px;
	border-radius: 50%;
	padding: 5px 3px 3px 3px;
	height: 30px !important;
	width: 30px !important;
	border-style: solid;
	border-width: 2px;
}

/* Estilo al pasar por encima de los iconos del footer de las redes sociales */
.iconos-footer .fab:hover {
	background-color: #ebaadd;
	border-style: solid;
	border-width: 2px;
	color: white;
}

/* Estilo del texto que aparece en el footer */
.texto-footer{
	font-size: 15px;
}
		
/* Estilo del propio footer */
.footer {
  padding: 30px;
  padding-top: 60px;
}

/* Estilo de la firma incluida en el footer */
.footer .firma {
  line-height: 1.6;
  color: #606368;
  font-size: 13px;
}

/* Estilos para tener en cuenta en los responsive cuando la anchura máxima
   de la pantalla sea 768px */
@media (max-width: 768px) {  

  /* Estilos para hacer el menú superios responsive*/
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .main {
    padding: 30px;
  }

  .main .upper-row {
    margin-bottom: 0;
  }
  
  .titulo-foto {
	  text-align-last: center;
  }

  .titulo-foto img {
	  float: none;
	  margin-top: 20px;
	  margin-left: 20px;
  }

  .footer{
	  padding-top: 20px;
  }

  .footer .firma{
	  display: block;
  }
}

/* Estilos para tener en cuenta en los responsive cuando la anchura máxima
   de la pantalla sea 400px */
@media screen and (max-width: 400px) {
  
  /* Para que no quede la imagen desplazada le quito el margen izquierdo */
  .titulo-foto img{
      margin-left: 0px;
  }

  /* Para que no quede la imagen desplazada le quito el margen izquierdo */
  .img-galeria {
    padding: 0px 10px 20px;    
  }

  /* Cargo las imagenes más pequeñas en caso de que la pantalla menos de 400px */
  .img1{
    content: url("../imagenes/1.1.png");
  }

  .img2{
    content: url("../imagenes/2.1.png");
  }

  .img3{
    content: url("../imagenes/3.1.png");
  }

  .img4{
    content: url("../imagenes/4.1.png");    
  }

  .img5{
    content: url("../imagenes/5.1.png");
  }

  .img6{
    content: url("../imagenes/6.1.png");
  }
}