* {  
	box-sizing: border-box;
}

/* He puesto para el body un tipo de letra unos márgenes
e interlineado para que quede más límpia la página */
body {  
	font-family: Arial, Helvetica, sans-serif; 
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
	line-height : 25px;
}
/* He puesto un display grid para que quede encuadrado el menú */
.grid {
	display: grid;	
	grid-template-columns: 0.5fr 2fr 0.5fr;
	grid-gap: 10px; /* espacios entre filas y columnas */
	grid-auto-rows: 100px;
    padding: 15px 250px;
}

/* Aquí he puesto una animación en espejo
para darle algo de vidilla a la página.
Logo de la página superior */
.menutop.orden1:hover {
	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	transform: rotateY(180deg);
	transform-style: preserve-3d;
}

/* Centramos el menú superior */
.menutop {
	align-self: center;
    text-align: center;
}

/* subrayado */
.subra{
	text-decoration: underline;
}

/* Ponemos un espacio a los párrados superior e inferior
para que no queden tan pegamos*/
p{
    padding-top: 15px;    
    padding-bottom: 15px;
}

/* clase que usamos para el icono de la luna
para fijar su tamaño y margen */
img.mediana{
	width: 100px;
	height: 100px;
	margin: 5px;
}


/* Menú de navegación princpal entre páginas */
nav.principal ul{
	display: flex;
	list-style: none;	
	flex-direction: row;	
	justify-content: center;
	padding: 0;
	margin: 0;	
}

/* estilos del texto del menú de navegación */
nav.principal ul li a {
	display: block;      	
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;    
  }
    
/* Cambio color cuando nos posicionamos encima del menú de navegación */
nav.principal ul li a:hover {	
	background-color: #A5EDFF;
}

/* Menú de idiomas */
.listatop ul{
	display: flex;
	list-style: none;	
	flex-direction: row;	
	justify-content: center;
	padding: 0;
	margin: 0;	
}

/* estilos del texto del menú de idiomas */
.listatop ul li a {
	display: block;      	
	text-align: center;
	padding: 2px;
	text-decoration: none;
  }
    
/* Cambio color cuando nos posicionamos encima del menú de idiomas */
.listatop ul li a:hover {	
	background-color: #A5EDFF;
}

/* Cambio color cuando nos posicionamos encima del menú de pie de página */
.listafooter li a:hover {	
	background-color: #A5EDFF;
	text-decoration: none;
}

/* Espacio que he puesto en los fabicon para que se aprecie
el cambio de color al pasar por encima */
.fabi{
	padding: 5px;
}

/* lista de fotos de Lenguales */
.fotos ul {
	display: flex;
	list-style: none;	
	flex-direction: row;	
	justify-content: center;
	padding: 0;
	margin: 0;	
}

.fotos ul li {
	display: block;      
	text-align: center;
	padding: 14px 16px;	
	font-weight: bold;
	font-size: 17px;    
}

.ajustada{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

img{
	width: 150px;
	height: 150px;	    
}
/* estilo para el emoticon con mi imagen */
.icono{	
	background-color: #FFF2EB;
	padding: 10px;
	overflow: auto;	
}

/* Aquí he puesto una animación en espejo
para darle algo de vidilla a la página 
Emoticon con mi imagen */
.izquierda.redonda:hover {
	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	transform: rotateY(180deg);
	transform-style: preserve-3d;
}
/* redondeo del emoticon de mi imagen*/
img.redonda{
	border-radius:75px;
}
/* Para poner el texto al lado de la foto */
img.izquierda {
	float: left;	
    margin-right: 15px;
    margin-bottom: 1rem;	
}

.salto {
	clear: both;
}

/* Formato para las letras de los párrafos de ModuleBundlers */
.letra{
	font-size: large;
	text-align: justify;
}
/* Efecto de párrafo subrayado */
.colorabajo{
	border-bottom: solid 1px orange;
}

/* anchura para el iframe donde meteremos el videro*/
iframe{
	width: 100%;
}

/*  Margen para el apartado de los párrafos de ModuleBundlers*/
.margen40{
	margin-left: 40px;
	margin-right: 40px;
}
/* Clases del pie de página */
/* alineación y color del texto*/
.pie{
	text-align: center;	
	color: white;
}

/* fondo negro */
.pie .negro{
	background-color: black;
}

/* estilo de la lista con el menu inferior */
.pie ul{
	display: flex;
	list-style: none;	
	flex-direction: row;	
	justify-content: center;
	padding: 0;
	margin: 0;	
}

/* estilos del texto del menú de navegación */
.pie ul li {
	display: block;      	
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;    
  }

  /* Estilos para tener en cuenta en los responsive cuando la anchura máxima
   de la pantalla sea 912px */
@media screen and (max-width: 912px) {
	body {
		margin-left: 10px;
		margin-right: 10px;
		font-size: medium;
	}
	.letra {
		font-size: medium;
	}	
	.grid{
		padding: 5px 100px;
	}	
}

/* Estilos para tener en cuenta en los responsive cuando la anchura máxima
   de la pantalla sea 768px */
@media (max-width: 768px) {  
	/* Bajamos la anchura de los margenes para que se vea bien en móvil */	
	body {
		margin-left: 10px;
		margin-right: 10px;
		font-size: medium;
	}
	.letra {
		font-size: medium;
	}	
	/* Bajamos los espacios y fuentes del menu principal para que se vea bien en móvil */	
	nav.principal ul li a {    
		padding: 5px 5px;
		font-size: 17px;
	}

	/* Como la lista cambia de orden al pasar a formato movil
	usamos el css para asignar el orden que queramos */
	.orden1{
		order: 3;
	}
	.orden2{
		order: 2;
		font-size: medium;
	}
	.orden3{
		order: 1;
	}

	/* Bajamos el espacio del encabezado superior y lo pasamos a filas */
	.grid {
		padding: 10px 10px;
		grid-auto-rows: auto;
	}

	/* Quitamos el margen de los párrafos de Module Bundlers */
	.margen40{
		margin-left: 0;
		margin-right: 0;
	}

	/* bajamos el tamaño del h3 */
	h3{
		font-size: medium;
	}

	/* Quitamos el margen inferior de los párrafos para que se lea mejor */
	p{
		padding-bottom: 0px;
	}

	/* Pasamos el menu principal a columna */
	nav.principal ul {    
		flex-direction: column;    
	}   

	/* Pasamos las fotos a columna*/
	.fotos ul {    
		flex-direction: column;    
	}

	/* Pasamos los menu inferiores y listas a columnas*/
	.pie ul {
		flex-direction: column;  
	}

	.pie ul li{
		padding: 5px 5px;
	}

	.listaicono{
		flex-direction: row!important;	
	} 
}

/* Las reglas que estén dentro de la media query se van a aplicar */
/* solo cuando la ventana del navegador sea menor o igual a 360px */
@media (max-width: 567px) {

   body{
	font-size: medium;}	
	.letra {
		font-size: medium;
	}	
  /* Con este selector indicamos que ese estilo debe aplicarse a */
  /* TODOS los elementos que sean hijos directos de la grilla */
  .grid > * {
    grid-column-end: span 12;
  }

  /* El primer valor corresponde al hueco entre filas */
  /* El segundo valor corresponde al hueco entre columnas */
  .grid {
    grid-gap: 1rem 0;
  }
}